[submodule "frontend"]
	path = frontend
	url = https://github.com/MohamadSharafeddine/recipe-app-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/MohamadSharafeddine/recipe-app-backend.git
